@charset "utf-8";

/*--------------------------------------------------------------------------------------------------
CSS Styles for Solar.

version:   1.0
--------------------------------------------------------------------------------------------------*/

/* =Vars general
--------------------------------------------------------------------------------------------------*/

/* =Typography
--------------------------------------------------------------------------------------------------*/

/* Setting up the fonts */

@font-face {
  font-family: "abuget";
  src: url("../fonts/abuget-webfont.woff2") format("woff2"), url("../fonts/abuget-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caviar_dreams";
  src: url("../fonts/caviardreams-webfont.woff2") format("woff2"), url("../fonts/caviardreams-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caviar_dreams";
  src: url("../fonts/caviar_dreams_bold-webfont.woff2") format("woff2"), url("../fonts/caviar_dreams_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "caviar_dreams";
  src: url("../fonts/caviardreams_bolditalic-webfont.woff2") format("woff2"), url("../fonts/caviardreams_bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

:root,
[data-bs-theme="light"] {
  --bs-primary: #825823;
  --bs-secondary: #feefdb;
  --bs-body-color: #000;
  --bs-primary-rgb: 130, 88, 35;
  --bs-secondary-rgb: 254, 239, 219;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;

  --bs-font-sans-serif: "Karla", sans-serif;
  --bs-font-headlines: "abuget";
  --bs-font-alt: "caviar_dreams";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 23px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.6;
  --bs-body-color: #000;
  --bs-link-color: inherit;
  --bs-link-decoration: none;

  --bs-border-radius: 40px;
  --bs-border-radius-sm: 0;
  --bs-border-radius-lg: 0;
}

body {
  letter-spacing: 1px;
  font-family: "Karla", sans-serif;
}

h1,
.h1 {
  font-family: var(--bs-font-alt);
  font-size: 70px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 700;
}
h1 span,
.h1 span {
  display: block;
  font-size: 50px;
  line-height: 110%;
  margin: 14px 0 0;
}

h2,
.h2 {
  font-family: var(--bs-font-headlines);
  font-size: 78px;
  line-height: 110%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.01em;
}

h3,
.h3 {
  font-family: var(--bs-font-alt);
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.01em;
}

h4,
.h4 {
  font-family: var(--bs-font-alt);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.01em;
}

.h5,
h5 {
  font-family: var(--bs-font-alt);
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.01em;
}

/* End Typography
--------------------------------------------------------------------------------------------------*/

/* =General
--------------------------------------------------------------------------------------------------*/
.page-wrapper {
  width: 100%;
  overflow: hidden;
}
.container-fluid {
  max-width: 1230px;
  --bs-gutter-x: 30px;
}
.row {
  --bs-gutter-x: 30px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

a,
button,
.btn {
  transition: all 0.2s ease;
  text-decoration: none;
}

a {
  color: inherit;
}

/* End General
--------------------------------------------------------------------------------------------------*/

/* =Components
--------------------------------------------------------------------------------------------------*/

/* buttons */

.btn:hover {
  box-shadow: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  max-width: 100%;
  min-width: 200px;
  height: 44px;
  padding: 0 15px;
  font-weight: 700;
  font-family: var(--bs-font-alt);
  font-size: 14px;
  letter-spacing: 0.01em;
  border-radius: var(--bs-border-radius);
  border-width: 2px;
}
.btn img {
  margin: 0 14px 0 0;
}
.btn.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: none;
}

.btn.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: none;
}

/* header */
.header {
  padding: 11px 0;
  position: relative;
  z-index: 999;
}
.navbar-brand {
  padding: 0;
  width: 150px;
}
.navbar-brand img {
  display: block;
  max-width: 100%;
  height: auto;
}
.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  padding: 10px 1px;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler-icon {
  width: 24px;
  height: 2px;
  border-radius: 0;
  background: var(--bs-black);
  position: relative;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--bs-black);
  transition: all 0.3s linear;
}
.navbar-toggler-icon:before {
  top: -6px;
}
.navbar-toggler-icon:after {
  bottom: -6px;
}
.navbar-toggler.active .navbar-toggler-icon {
  background: none;
}
.navbar-toggler.active .navbar-toggler-icon:before {
  transform: translateY(6px) rotate(45deg);
}
.navbar-toggler.active .navbar-toggler-icon:after {
  transform: translateY(-6px) rotate(-45deg);
}
.navbar {
  padding: 0;
  position: static;
}
.navbar-collapse {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  background-color: var(--bs-secondary);
  padding: 50px 15px 15px;
  height: calc(100vh - 100px);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--bs-font-alt);
  transition: all 0.3s;
}
.navbar-collapse.collapse {
  display: block !important;
  transform: translateX(-100%);
}
.navbar-nav {
  margin: 0 0 40px;
}
.navbar-nav a {
  display: block;
  padding: 10px 0;
}
.socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials li {
  margin: 0 18px;
}

/* bg */
.bg-secondary h2 {
  color: var(--bs-primary);
}

.bg-top-white,
.bg-bottom-white,
.bg-top-beige,
.bg-bottom-beige {
  position: relative;
}
.bg-top-white:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url(../img/bg/top-white.png) no-repeat;
  background-size: cover;
  padding: 9.5625% 0 0;
  z-index: 2;
}
.bg-bottom-white:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/bg/bottom-white.png) no-repeat;
  background-size: cover;
  padding: 9.5625% 0 0;
  z-index: 2;
}
.bg-top-beige:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url(../img/bg/top-beige.png) no-repeat;
  background-size: cover;
  padding: 7.375% 0 0;
  z-index: 2;
}
.bg-bottom-beige:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/bg/bottom-beige.png) no-repeat;
  background-size: cover;
  padding: 7.375% 0 0;
  z-index: 2;
}

/* block-banner */
.block-banner {
  position: relative;
  padding: 0 0 60px;
  margin: 0 0 61px;
}
.block-banner .banner-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.block-banner .banner-bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}
.block-banner .container-fluid {
  position: relative;
  z-index: 1;
}
.block-banner .image {
  padding: 20px 0 18px;
}
.block-banner .image img {
  display: block;
  width: 100%;
  max-width: 50.34%;
  height: auto;
  margin: auto;
}
.block-banner .text {
  text-align: center;
}
.block-banner .subtitle {
  font-family: var(--bs-font-headlines);
  font-size: 34px;
  line-height: 110%;
  letter-spacing: 0.01em;
  margin: 0 0 17px;
}
.block-banner .text h1 {
  margin: 0 0 15px;
}
.block-banner .text p {
  line-height: 1.2;
  margin: 0;
}
.block-banner .text .buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.block-banner .text .buttons .btn {
  margin: 14px 0 0;
}
.block-banner .logos {
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 66%, 0);
  background: #ffffff;
  box-shadow: 0px 7.739px 22.1114px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px;
  width: 86%;
}
.block-banner .logos ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-banner .logos ul li {
  padding: 0 10px;
}
.block-banner .logos img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

/* block-contact-form */
.block-contact-form {
  padding: 60px 0 40px;
}
.block-contact-form h3 {
  margin: 0 0 10px;
}
.block-contact-form .submit {
  padding: 17px 0 0;
}

.form-control {
  --bs-input-padding-y: 17px;
  --bs-input-padding-x: 0;
  --bs-form-control-bg: transparent;
  --bs-placeholder: #949494;
  --bs-placeholder-opacity: 1;
  --bs-border-color: #000000;
  --bs-border-width: 0 0 1px;
  display: block;
  width: 100%;
  padding: var(--bs-input-padding-y) var(--bs-input-padding-x);
  font-family: var(--bs-font-alt);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  color: var(--bs-black);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: 1px solid var(--bs-border-color);
  border-width: var(--bs-border-width);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0 0 13px;
  box-shadow: none;
}
.form-control:focus {
  border-color: var(--bs-border-color);
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: var(--bs-placeholder);
  opacity: var(--bs-placeholder-opacity);
}
.form-control:-moz-placeholder {
  color: var(--bs-placeholder);
  opacity: var(--bs-placeholder-opacity);
}
.form-control::-moz-placeholder {
  color: var(--bs-placeholder);
  opacity: var(--bs-placeholder-opacity);
}
.form-control:-ms-input-placeholder {
  color: var(--bs-placeholder);
  opacity: var(--bs-placeholder-opacity);
}

/* block-intro */
.block-intro {
  padding: 60px 0 35px;
}
.block-intro h2 {
  margin: 0 0 14px;
}
.block-intro .image {
  margin: 23px 0 43px;
}
.block-intro .image img {
  display: block;
  width: 100%;
  height: auto;
}
.block-intro .h4 a {
  color: var(--bs-primary);
  text-decoration: underline;
}
.block-intro .h4 a:hover {
  text-decoration: none;
}
.block-intro .text {
  margin: 35px 0 0;
  position: relative;
}
.block-intro .text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 15px;
  width: 25px;
  background: url(../img/bg/intro-left-m.png);
  background-size: 100% 100%;
}
.block-intro .text:after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  top: 0;
  height: 15px;
  background: url(../img/bg/intro-top.png);
  background-size: 100% 100%;
}
.block-intro .text .bg {
  position: relative;
  padding: 14px 24px;
}
.block-intro .text .bg:before {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  bottom: 15px;
  width: 25px;
  background: url(../img/bg/intro-left-m.png);
  background-size: 100% 100%;
  transform: scaleX(-1);
}
.block-intro .text .bg:after {
  content: "";
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 0;
  height: 15px;
  background: url(../img/bg/intro-bottom.png);
  background-size: 100% 100%;
}
.block-intro .text .inner {
  background-color: #fff;
  padding: 11px 10px;
  line-height: 1.625;
}
.block-intro .text p {
  margin: 0 0 1.6em;
}
.block-intro .text .btn {
  margin-top: -0.4rem;
}

/* block-banner-text */
.block-banner-text {
  position: relative;
  padding: 242px 0 55px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.block-banner-text--text-left {
  padding: 230px 0 55px;
}
.block-banner-text .banner-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.block-banner-text .banner-bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.block-banner-text--text-left .banner-bg img {
  object-position: center top;
}
.block-banner-text .container-fluid {
  position: relative;
  z-index: 1;
}
.block-banner-text .text {
  margin: 35px 0 0;
  position: relative;
}
.block-banner-text .text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 15px;
  width: 25px;
  background: url(../img/bg/intro-left-m.png);
  background-size: 100% 100%;
}
.block-banner-text .text:after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  top: 0;
  height: 15px;
  background: url(../img/bg/intro-top.png);
  background-size: 100% 100%;
}
.block-banner-text .text .bg {
  position: relative;
  padding: 14px 23px;
}
.block-banner-text .text .bg:before {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  bottom: 15px;
  width: 25px;
  background: url(../img/bg/intro-left-m.png);
  background-size: 100% 100%;
  transform: scaleX(-1);
}
.block-banner-text .text .bg:after {
  content: "";
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 0;
  height: 15px;
  background: url(../img/bg/intro-bottom.png);
  background-size: 100% 100%;
}
.block-banner-text .text .inner {
  background-color: #fff;
  padding: 11px 10px;
  line-height: 1.625;
}
.block-banner-text .text p {
  margin: 0 0 1.6em;
}
.block-banner-text .text p:last-child {
  margin: 0;
}
.block-banner-text .text h2 {
  margin: 0;
}
.block-banner-text .text ul {
  margin: 0 0 6px;
  padding: 0;
  list-style: none;
}
.block-banner-text .text ul li {
  border-bottom: 1px solid #dcdcdc;
  padding: 9px 0 8.5px;
  font-size: 14px;
}
.block-banner-text .text ul strong {
  display: block;
  margin: 0 0 5px;
  font-family: var(--bs-font-alt);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--bs-primary);
}

/* block-cta */
.block-cta {
  padding: 37px 0 35px;
}
.block-cta .h4 {
  margin: 0 0 13px;
}

/* block-img-text */
.block-img-text {
  padding: 63px 0 40px;
}
.block-img-text.bg-secondary {
  padding: 37px 0;
}
.block-img-text h2 {
  margin: 0 0 20px;
  color: var(--bs-primary);
}
.block-img-text h2 + .h4 {
  margin: 30px 0 28px;
}
.block-img-text h5,
.block-img-text .h5 {
  line-height: 1.1;
}
.block-img-text .item .image {
  margin: 0 0 14px;
}
.block-img-text .item .image img {
  display: block;
  max-width: 70%;
  margin: auto;
  height: auto;
  border-radius: 100%;
}
.block-img-text .item .image.image-lg img {
  max-width: 100%;
  border-radius: 200px;
}
.block-img-text .item .text {
  margin: 0 0 30px;
}
.block-img-text.bg-secondary .item .text {
  margin: 0 -2px 30px;
}
.block-img-text .item .text h5 {
  margin: 0 0 14px;
}
.block-img-text .item .text p {
  margin: 0;
  line-height: 1.62;
}
.block-img-text.bg-secondary + .block-contact-form {
  padding: 0 0 10px;
  margin: -11px 0 0;
}
.block-img-text .btn {
  margin: 18px 0 0;
}

/* block-reviews */
.block-reviews {
  position: relative;
  padding: 70px 0 48px;
}
.block-reviews .bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.block-reviews .bg-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.block-reviews .container-fluid {
  position: relative;
  z-index: 1;
}
.block-reviews h2 {
  color: var(--bs-primary);
  margin: 0 0 15px;
}
.block-reviews h3 {
  margin: 0 0 20px;
}
.block-reviews .swiper-slide figure {
  margin: 0 0 20px;
}
.block-reviews .swiper-slide figure img {
  display: block;
  margin: auto;
  width: 75.86%;
  max-width: 220px;
  height: auto;
  border: 4px solid #825823;
  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}
.block-reviews .swiper-slide blockquote {
  position: relative;
  font-family: var(--bs-font-alt);
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  letter-spacing: -0.01em;
  margin: 0 0 18px;
  font-style: italic;
}
.block-reviews .swiper-slide blockquote p {
  margin: 0;
}
.block-reviews .swiper-slide .quote-title {
  text-align: center;
}
.block-reviews .swiper-pagination {
  position: static;
  padding: 16px 0 0;
}
.block-reviews .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  border: 2px solid var(--bs-primary);
  background-color: transparent;
  opacity: 1;
  margin: 0 8px;
  transition: all 0.2s;
}
.block-reviews .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--bs-primary);
}

.block-reviews + .block-contact-form {
  padding: 40px 0;
}

/* block-contact-links */
.block-contact-links {
  padding: 0 0 40px;
}
.block-contact-links .row {
  --bs-gutter-y: 10px;
}
.block-contact-links a {
  display: flex;
  align-items: center;
  background-color: var(--bs-secondary);
  padding: 9px 20px;
  color: #000;
  font-size: 16px;
  font-family: var(--bs-font-alt);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
}
.block-contact-links a .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  background: #e3bb7f;
  margin-right: 13px;
}
.block-contact-links a .icon img {
  display: block;
}

/* footer */
.footer {
  padding: 60px 0 0;
}
.footer .logo {
  width: 172px;
  margin: 0 auto 32px;
}
.footer .logo img {
  display: block;
  width: 100%;
  height: auto;
}
.footer-nav {
  color: #000;
  font-size: 16px;
  font-family: var(--bs-font-alt);
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px;
  padding: 0;
  list-style: none;
}
.footer-nav li {
  margin: 0 0 20px;
}
.footer .socials {
  margin: 0 0 40px;
}
.footer-bottom {
  border-top: 1px solid #cccccc;
  padding: 38px 0 27px;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-family: var(--bs-font-alt);
  line-height: 26px;
  letter-spacing: 0;
}
.footer-bottom p {
  margin: 0 0 20px;
}
.footer-bottom .copyright p {
  margin: 20px 0 0;
  font-size: 14px;
}
.footer-bottom .footer-links a {
  margin: 0 10px;
}
